$primary-color: silver;
$bell-color: #ff0000;
$read-color: #66BB6A;
$my-collection: #fff;
$group-color: #76323f;

.container-fluid {
  padding: 0;
}

.navbar {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Cinzel', serif;
  padding-top: 10px;
}

a, button {
  font-family: 'Cinzel', serif;
}
.nav-anchor {
  font-family: 'Cinzel', serif;
}

.snav {
  font-size: 25px !important;
  color: white !important;
}

.my-preloader {
  margin-top: 100px;
}

.error {
  position: relative;
  left: 0rem;
  color: #FF4081;
}

h2 {
  padding-top: 10px;
}

h3 {
  padding-bottom: 20px; 
}

.card {
  height: 250px;
  opacity: 0.9;
}

.custom {
  height: auto;
}

.btn-group {
  margin-right: 10px;
}

.welc {
  width: 500px;
  background-color: white;
  margin-top: 10vh;
  opacity: 0.7;
}

.not-found {
  margin-top: 20vh;
}

.login-text {
  margin-bottom: 0;
}

hr {
  margin: 0;
}

.comment {
  background-color: white;
  bottom: 0;
  height: 200px;
}

.lgout {
 margin-left: 60px;
}

.searchbtn {
 background-color: #f77d0e;
 z-index: 0 !important;
}

.btn-floating {
  z-index: 0 !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
 }

.landing-background {
  background: url('https://images.unsplash.com/photo-1496396297824-fdda3c54ad14?dpr=2&auto=format&fit=crop&w=1500&h=999&q=80&cs=tinysrgb&crop=') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.page-heading {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.postit-btn {
  background-color: black;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Allerta', sans-serif;
  color: white;
  vertical-align: middle;
  padding: 20px;
}

.scrbar {
  background: white;
  opacity: 0.7;
  width: 300;
  height: 490px;
  overflow: auto;
}

.mobile-logout {
  margin: 10px 15px 5px;
  width: 270px;
  height: 50px;
  font-family: 'Cinzel', serif;
}

.reset-msg {
  background-color: #dceff8;
  position: fixed;
  height: 50px;
  width: 420px;
  z-index: 999;
  font-family: 'Cinzel', serif;
}

.add-group {
 color: $primary-color;
 padding-left: 10px;
}

.modal-overlay {
  display: none !important;
}

.msgscrbar {
  height: 70vh;
  overflow: auto;
}

#msg-header {
  height: 50px;
  z-index: 999;
}

.user-size {
  font-size: 12px;
  padding-left: 3px;
}

#welcome-header {
  height: 50px;
}

.header-position {
  position: fixed
}

.login {
  background-color: white;
  opacity: 0.9;
  height: 400px;
}

.reset-form {
  background-color: white;
  height: 280px;
}

.reset-height {
  height: 350px;
}

.reset-link {
  margin-top: 40px;
}

.google-link {
  margin-top: 30px;
  color: #333;
  background-color: #fff;
  border-color: #ccc; 
}

 .signup {
   background-color: white;
   opacity: 0.9;
   height: 650px;
 }

.each-group {
  list-style-type: none;
}

.search-user {
  background-color: $primary-color;
  font-family: 'Cinzel', serif;
  height: auto;
}

.mark-btn {
  margin-right: 15px;
}

.groupname-anchor {
  padding-left: 10px;
  font-size: 18px;
}

@media (max-width: 400px) {
  .groupname-anchor {
    padding-left: 5px;
    font-size: 15px;
  }
  .each-group {
    list-style-type: none;
    margin-left: 5px !important; 
  }
}

 footer {
   background-color: #333;
   height: 70px;
   color: #ddd;
   padding: 20px;
   text-align: center;
 }

 .image {
   position: relative;
   width: 100%;
 }

 .postlogo {
   padding-top: 10px;
   padding-left: 10px;
   width: 50%;
   height: 30%;
 }

 main {
     flex: 1 0 auto;
 }

.mybell {
  color: $primary-color;
  font-size: 25px;
  padding-left: 5px;
}

.on-notification {
  color: $bell-color;
}

.post {
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	margin-right: 22em;
	margin-left: 0.2em;
	border-bottom: 1px;
	color: #FFF;
}
.userlogin {	
	color: #4db6ac;
}

.waves-effect {
	text-align: right;
}

.welcmsg {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: $primary-color;
  margin: 100px 0 0 0;
}

.grouplist{
  margin: 10px 0 2rem 2rem;
  padding-right: 0; 
  background-color: $primary-color;
}
.msgglist {
  height: 250px;
}

.glist {
  width: 400px;
}

.groupform{
  margin: -13rem 0 2rem 50rem;
  height: 360px;
  width: 500px;
}

.msgroom {
  margin: 5rem 0 2rem 20rem;
  height: 700px;
  width: 700px;
}

.msgs {
  text-align: center;
  margin-left: 100px;
}
.bm {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.groupname {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: $primary-color;
  margin: 0 0 0 0;
  padding: 20px;
}

.messages {
  background-color: #D7CEC7;
  height: 100vh;
}

.msgtxtbox {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: white;
  margin: 50px 0 0 0;
  height: 100px;
}

.group {
  background-color: $group-color;
  height: 100vh;
  margin: 0;
}

.ordered-list {
  padding-left: 20px;
}

.msgform {
  height: 500px;
  margin: -19rem 0 2rem 50rem;
  width: 550px;
}

.cbg {
  margin-left: 5rem;
  margin-top: 5rem;
}

.glist {
  margin-top: 0;
}

.text-darken-4 {
  font-weight: bold;
  text-align: center;
}
.text-darken-2 {	
	text-align: center;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 99%;
}

.groupdetails-img {
  width: 320px;
  height: 215px;
}

.groupdetails-nav {
  background-color: $group-color;
  height: 80vh;
  top: auto;
  width: 16vw;
}

.read-marker-done {
  color: $read-color;
  cursor: pointer;
}

.search-users {
  font-size: 10px;
}

.my-collection {
  background-color: $my-collection;
}

#sidenav-overlay {
  display: none !important;
}

.group-details {
  color: #1B5E20;
  padding-left: 10px;
}

.date-msg-position {
  display: inline;
  font-family: 'Cinzel', serif;
  font-size: 12px;
}

.msg-content {
  display: block;
}

.date-pad {
  margin-right: 10px;
}

.msg-creator {
  font-family: 'Cinzel', serif;
}

.wordwrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
