<!DOCTYPE html>
<html>
	<head>
		<title>PostIt</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />		
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->
         <link rel="stylesheet" type="text/css" href="./css/materialize.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<div class="card-panel teal lighten-2">
			<div class="reg">
				<em class="post">POSTIT</em>
			
				<a href="./login.html" class="waves-effect waves-light btn">Login</a>
				<a href="./signup.html" class="waves-effect waves-light btn">Sign Up</a>
			</div>
		</div>
		<div class="welc">
			<h4 class="green-text text-darken-4">Welcome,</h4>
			<p class="green-text text-darken-2">POSTIT allows you,your friends and colleagues to create groups for notifications.</p>
		</div>

		<footer>
			<div class="footer-copyright">
				<div class="container">					
					<p style="text-align: center">
						&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Andela, Inc
					</p>					
				</div>

			</div>
		</footer>

	</body>

</html>