<!DOCTYPE html>
<html>
	<head>
		<title>PostIt</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />		
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->
         <link rel="stylesheet" type="text/css" href="./css/materialize.css" />
        <link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<div class="card-panel teal lighten-2">
			<div class="reg">
				<em class="post">POSTIT</em>
			
				<a href="./homepage.html" class="waves-effect waves-light btn">Logout</a>
			</div>
		</div>
		<div class="welc grouplist msgroom">
			<h5 class="green-text text-darken-4 glist" style="margin-left:80px">JULY-FELLOWS-GENERAL MESSAGE ROOM</h5>
			<hr />
			<p class="z-depth-1 glist msgs"><a href="./messageboard.html">Hello</a></p>
			<p class="z-depth-1 glist msgs"><a href="./messageboard.html">Hi</a></p>
			<p class="z-depth-1 glist msgs"><a href="./messageboard.html">EPiC</a></p>				
			</ol>	
		</div>		
		<footer>
			<div class="footer-copyright">
				<div class="container">					
					<p style="text-align: center">
						&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Andela, Inc
					</p>					
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    	<!--<script type="text/javascript" src="./js/materialize.min.js"></script>-->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

	</body>

</html>