body {
     font-family: 'Open Sans', sans-serif;
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-repeat: no-repeat;
     width: 100%;
 }

.page-heading {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.postit-btn {
  background-color: #26a69a;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: 'Allerta', sans-serif;
  color: white;
  vertical-align: middle;
  padding: 20px;
}

h1 {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Allerta', sans-serif;
  color: black;
}

h2 {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Allerta', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

 .welc {
   background-color: white;
 }

 footer {
   background-color: #333;
   height: 70px;
   color: #ddd;
   padding: 20px;
   text-align: center;
 }

 .image {
   position: relative;
   width: 100%;
 }

 .postlogo {
   padding-top: 10px;
   padding-left: 10px;
   width: 50%;
   height: 30%;
 }
 main {
     flex: 1 0 auto;
 }

.post {
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	margin-right: 22em;
	margin-left: 0.2em;
	border-bottom: 1px;
	color: #FFF;
}
.userlogin {	
	color: #4db6ac;
}

.waves-effect {
	text-align: right;
}

.welcmsg {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: silver;
  margin: 100px 0 0 0;
}
.grouplist{
  margin: 10px 0 2rem 2rem;
  padding-right: 0; 
  background-color: silver;

}
.msgglist {
  height: 250px;
}

.glist {
  width: 400px;
}

.groupform{
  margin: -13rem 0 2rem 50rem;
  height: 360px;
  width: 500px;
}

.msgroom {
  margin: 5rem 0 2rem 20rem;
  height: 700px;
  width: 700px;
}

.msgs {
  text-align: center;
  margin-left: 100px;
}
.bm {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.groupname {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: silver;
  margin: 0 0 0 0;
  padding: 20px;
}

.messages {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: silver;
  margin: 20px 0 0 0;
  height: 700px;
}

.msgtxtbox {
  transition: box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: white;
  margin: 50px 0 0 0;
  height: 100px;
}

.group {
 background-color: #76323F;
;
 margin: 0px;
 height: 1000px;
}

.msgform {
  margin: -19rem 0 2rem 50rem;
  height: 500px;
  width: 550px;
}

.cbg {
  margin-left: 5rem;
  margin-top: 5rem;
}

.glist {
  margin-top: 0;
}

.text-darken-4 {
	font-weight: bold;
	text-align: center;
}
.text-darken-2 {	
	text-align: center;
}

